Files/
Images/
Libraries/
Logs/
Profiles/
Services/
Shared Projects/
experts.dat
#============
Experts/Advisors/
Experts/Examples/
#===========
Include/Arrays
Include/Canvas
Include/ChartObjects
Include/Charts
Include/Controls
Include/Expert
Include/Files
Include/Generic
Include/Graphics
Include/Indicators
Include/Math
Include/OpenCL
Include/Strings
Include/Tools
Include/Trade
Include/WinAPI
Include/MovingAverages.mq5
Include/MovingAverages.mq5
Include/StdLibErr.mq5
Include/VirtualKeys.mq5
#=============
Indicators/Examples
#=============
Scripts/Examples
Scripts/UnitTests

